<%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/nav') %>
      <main class="container mx-auto mt-8 p-8 bg-white rounded-lg shadow-md">
        <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">
          <%= editing ? "Edit" :"Register" %> Your Home on AirBnB
        </h1>
        <form action="/host/<%= editing ? " editHome" : "addHome" %>" method="POST" enctype="multipart/form-data" class="max-w-md mx-auto">
          <input type="hidden" name="id" value="<%= editing ? home._id :"" %>">
          <input type="text" name="houseName" placeholder="Enter your House Name"
            value="<%= editing ? home.houseName :"" %>"
            class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-400 hover:border-lime-600" />
          <input type="text" name="price" placeholder="Price Per Night" value="<%= editing ? home.price :"" %>"
            class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-400 hover:border-lime-600" />
          <input type="text" name="location" placeholder="Location" value="<%= editing ? home.location :"" %>"
            class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-400 hover:border-lime-600" />
          <input type="text" name="rating" placeholder="Rating" value="<%= editing ? home.rating :"" %>"
            class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-400 hover:border-lime-600" />

          <!-- <label
            for="photo"
            class="flex flex-col mb-4 items-center justify-center w-full p-6 border-2 border-dashed rounded-2xl cursor-pointer bg-gray-50 hover:bg-green-50 border-gray-300 hover:border-green-400 transition duration-300"
          >
            <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-green-500 mb-2" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 16v1a2 2 0 002 2h12a2 2 0 002-2v-1m-4-4l-4-4m0 0l-4 4m4-4v12" />
            </svg>
            <p class="text-gray-700 font-medium text-center">
              <span class="text-green-600 font-semibold">Click to upload</span>
            </p>
            <p class="text-sm text-gray-500 mt-1">PNG, JPG, JPEG (max 5MB)</p>
            <input id="photo" type="file" name="photo" accept="image/png,image/jpeg,image/jpg" class="hidden" />
          </label> -->

            <input
            type="file"
            name="photo"
            accept="image/jpg,image/jpeg,image/png"
            class="block w-full text-sm text-gray-700 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-green-50 file:text-green-600 hover:file:bg-green-100 mb-4"
            />

          <textarea name="description" id="description" placeholder="Enter the description"
            class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-400 hover:border-lime-600 hover:cursor-pointer"><%= editing ? home.description :"" %></textarea>

          <input type="submit" value="<%= editing ? " Update" :"Submit" %>"
          class="w-full bg-green-500 text-white font-bold py-2 rounded-md hover:bg-green-700 transition duration-300
          hover:cursor-pointer " />
        </form>
      </main>
  </body>

  </html>